<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="/path/to/flash.min.js"></script>
    <script src="/client.js"></script>
    <title>Document</title>
</head>

<body>
           <div class="heads">

                    <div class="div_icon">
                        <img src="https://cdn-icons-png.flaticon.com/512/2316/2316884.png" alt="no image" class="center2">
                    </div>
                    <div class="tittle">
                        <h1>Waiter Availability</h1>
                    </div>
                    <div class="admin">
                        <a href="/"> Home </a>
                    </div>
    </div>
    </div>
    <div class="div">
        <img src="https://cdn-icons-png.flaticon.com/512/2356/2356900.png" alt="no image" class="center">
    </div>
    <form action="waiter" method="post">
        <div class="Main">
            <label for="sizeLarge"></label>
            <input type="text" placeholder="Enter Passcode" id="fname" name="fname">
            <label for="fname"></label>
            <input type="submit" class="log" name="fontSizeControl" id="sizeLarge" value="Login"/>
        </div>
    </form>
    <div class="errorMessages">
        {{#if messages.errors}}
        <span>{{messages.errors}}</span>
        {{/if}}
    </div>

</body>

</html>