<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="/path/to/flash.min.js"></script>
    <script src="/public/client.js"></script>
    <title>Document</title>
</head>
<body>
        <div class="heads">
                    <div class="div_icon">
                        <img src="https://github.com/Wiseman930/Waiter-workingdays/blob/master/restaurant%20(1).png?raw=true" alt="no image" class="center2">
                    </div>
                    <div class="tittle">
                        <img src="https://github.com/Wiseman930/Waiter-workingdays/blob/master/cover.png?raw=true" alt="no image" class="center4">
                    </div>
                    <div class="admin">
                        <a href="/index"> Login </a>
                    </div>
    </div>
    <div class="div">
    </div>
    <form action="register" method="post">
        <div class="Main">
            <label for="sizeLarge"></label>
            <input type="text" placeholder="Enter Name" id="fname" name="fname">
            <label for="fname"></label>
            <input type="submit" class="log" name="fontSizeControl" id="sizeLarge" value="Register"/>
        </div>
    </form>
    <h4>Note:<br>
    <br>
    Register on this page to get a passcode for the login page
    <br>
        <div class="messages">
        <div class="errorMessages">
            <span>{{messages.errorMessages}}</span>
        </div>
            <div class="codeMessages">
            {{#if messages.codeMessages}}
            <span>{{messages.codeMessages}}</span>
            {{/if}}
        </div>
    </div>
    </h4>
</body>
</body>
</html>