body{
  margin: 0%;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  background-image: url('https://images.pexels.com/photos/4349746/pexels-photo-4349746.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4349746.jpg&fm=jpg&_gl=1*o3roo6*_ga*MTk0OTcyNzIxNi4xNjY1MTk0Nzk0*_ga_8JE65Q40S6*MTY2NjU2NDM4NC42LjEuMTY2NjU2NDY4NS4wLjAuMA..');
  text-align: center;
  margin: 0%;
  margin-top: 0%;
  text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.update{
  text-align: center;
  margin-top: 30px;
}
h1{
  color: #000000;
  margin: 0%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px
}
h4{
  background: rgba(229, 229, 229, .7);
  padding: 10px;
  text-align: center;
  width: fit-content;
  border-radius: 8px;
  margin: auto;
  font-size: 16px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 210px;
  margin-top: 30px;
}
.center2
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  padding-bottom: 25px;
}
.div {
  text-align: center;
  margin: auto;
}
.heads{
  background: rgba(229, 229, 229, .6);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  top: 0;
}
.home{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  padding: 12px;
  margin: 2px;
  border-style: solid;
  border-width: 1px;
}
.admin{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  padding: 12px;
  margin: 2px;
  border-style: solid;
  border-width: 1px;
  margin: auto;
}
a { color: #000000; }
.tittle{
  margin: auto;
}
.Main{
    text-align: center;
    font-size: large;
    margin-top: 200px;
    margin-bottom: 30px;
}
.log{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aquamarine;
  border-style: solid;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
input[type=text]{
  border-radius: 8px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  border-color: white;
  background-color: #000000;
  text-align: center;
  color: #e5e5e5
}
#fname{
    height: 35px;
}
.weekDays-selector{
    padding-top: 80px;
    text-align: center;
}
.weekDays-selector input {
    display: none!important;

  }

  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #e5e5e5;
    height: 40px;
    width: 70px;
    padding: 15px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size:smaller;

  }

  .weekDays-selector input[type=checkbox]:checked + label {
    background: #0b090a;
    color: #ffffff;
  }
.weekDays-selector2{
    padding-top: 45px;
    text-align: center;
}
.weekDays-selector2 input {
    display: none!important;

  }
  .weekDays-selector2 input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #e5e5e5;
    height: 25px;
    width: 40px;
    padding: 10px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size:small;
  }

  .weekDays-selector2 input[type=checkbox]:checked + label {
    background: #0b090a;
    color: #ffffff;
  }
  h2{
    text-align: center;
  }
  .errorMessages{
    text-align: center;
    color: #D22B2B;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    width: fit-content;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
  }
  .updateMessages{
    color: #4e784f;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
  }
  .codeMessages{
    text-align: center;
    color: #4e784f;
    font-size: 30px;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 10s;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
  }
  table, th, td {
    margin: auto;
    text-align: left;
  }
  .messages{
    position: relative;
  }
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }


