body{
  margin: 0%;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  background-image: url('https://images.pexels.com/photos/4349746/pexels-photo-4349746.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4349746.jpg&fm=jpg&_gl=1*o3roo6*_ga*MTk0OTcyNzIxNi4xNjY1MTk0Nzk0*_ga_8JE65Q40S6*MTY2NjU2NDM4NC42LjEuMTY2NjU2NDY4NS4wLjAuMA..');
  text-align: center;
  margin: 0%;
  margin-top: 0%;
  text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.update{
  text-align: center;
  margin-top: 30px;
}
h1{
  color: #000000;
  margin: 0%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px
}
.p{
  padding: 5px;
  text-align: center;
  width: fit-content;
  border-radius: 0px;
  margin: auto;


}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 210px;
  margin-top: 30px;
}
.center2
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;

}
.div_icon{
  margin: auto;
  display: block;
}
.center4
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:460px;
  height: 200px;

}
.div {
  text-align: center;
  margin: auto;
}
.heads{
  background: rgba(229, 229, 229, .6);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  top: 0;

}
.home{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  padding: 12px;
  margin: 2px;
  border-style: solid;
  border-width: 1px;
}
.admin{
  background-color: #e5e5e5;
  border-color: #000000;
  border-radius: 0px;
  color: #000000;
  padding: 12px;
  margin: 2px;
  border-style: solid;
  border-width: 1px;
  margin: auto;
}
a { color: #000000; }
.tittle{
  margin-left: auto;
  margin-right: auto;
}
.Main{
    text-align: center;
    font-size: large;
    margin-top: 150px;
    margin-bottom: 30px;

}
.log{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  background-color: #e5e5e5;
  border-color: #000000;
  color: #000000;
  border-radius: 8px;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}
input[type=text]{
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
  text-align: center;
  color: #000000;
}
#fname{
    height: 35px;
}
.weekDays-selector{
    padding-top: 80px;
    text-align: center;
}
.weekDays-selector input {
    display: none!important;

  }

  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #e5e5e5;
    height: 40px;
    width: 70px;
    padding: 15px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size:smaller;

  }

  .weekDays-selector input[type=checkbox]:checked + label {
    background: #0b090a;
    color: #ffffff;
  }
.weekDays-selector2{
    padding-top: 45px;
    text-align: center;
}
.weekDays-selector2 input {
    display: none!important;

  }
  .weekDays-selector2 input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #e5e5e5;
    height: 25px;
    width: 40px;
    padding: 10px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    font-size:small;
  }

  .weekDays-selector2 input[type=checkbox]:checked + label {
    background: #0b090a;
    color: #ffffff;
  }
  h2{
    text-align: center;
  }
  .errorMessages{
    text-align: center;
    color: #D22B2B;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    width: fit-content;
    font-size: 20px;
  }
  .updateMessages{
    color: #4e784f;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    font-size: 20px;
  }
  .codeMessages{
    text-align: center;
    color: #4e784f;
    font-weight: 700;
    animation: hideAnimation 0s ease-in 10s;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
    font-size: 20px;
  }
  table, th, td {
    margin: auto;
    text-align: left;
  }
  .messages{
    position: relative;
  }
  .login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    background: rgba(0, 0, 0, .75);
    margin-top: 90px;
    border-width: 1px;
    border-style: solid;

  }

  /* Reset top and bottom margins from certain elements */
  .login-header,
  .login p {
    margin-top: 0;
    margin-bottom: 0;


  }

  /* The triangle form is achieved by a CSS hack */
  .login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    background: rgba(229, 229, 229, .8);
  }

  .login-header {
    background-color: #e5e5e5;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-size: 13px;
  }

  .login-container {
    background: rgba(0, 0, 0, .3);
    padding: 12px;
  }


  /* Every row inside .login-container is defined with p tags */
  .login p {
    padding: 12px;
  }

  .login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }

  .login input[type="email"],
  .login input[type="password"] {
    background: #fff;
    border-color: #e5e5e5
    color: #555;
    text-align: center;
  }

  /* Text fields' focus effect */
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    border-color: #000000;
  }

  .login input[type="submit"] {
    background: rgba(229, 229, 229, .9);
    border-color: #000000;
    color: #000000;
    cursor: pointer;
    border-radius: 8px;
    border-width: 1px;
  }

  .login input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
  }

  /* Buttons' focus effect */
  .login input[type="submit"]:focus {
    border-color: #000000;
    color: #ffffff;
  }
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }


